<<<<<<< HEAD
@charset "UTF-8";@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;500;600&display=swap");.burger,.media__mob{display:none!important}.header{background:#EAEEEF;-webkit-box-shadow:0px 4px 4px rgba(0,0,0,0.25);box-shadow:0px 4px 4px rgba(0,0,0,0.25);position:relative}.header:after{content:"";position:absolute;width:100%;height:990px;top:20px;z-index:0;background:url("../img/header/header__aft.png");background-repeat:no-repeat;background-size:cover;background-position:bottom}.header__content,.header__header,.header__logo{position:relative;z-index:1}.container{max-width:1810px;padding:0px 10px;margin:0px auto}.header__header{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;padding-top:45px}.flex{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.header__logo{position:absolute;left:60px;top:35px}.header__logo img{max-width:120.54px;max-height:56.07px}.header__menu{width:1100px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.nav__list{width:565px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.nav__list li:hover{text-decoration:underline}.nav__list .item__icon{height:0px;width:0px;border:4px solid;border-color:#195557 #195557 transparent transparent;-webkit-transform:rotate(45deg);transform:rotate(45deg);margin-right:10px;-webkit-transition:all 0.5s;transition:all 0.5s}.nav__list .list__item{font-family:"Cormorant Infant";font-weight:700;font-size:16px;line-height:19px;text-transform:uppercase;color:#195557}.nav__list .nav__list{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:565px}.nav__list .dropdown{position:relative}.nav__list .dropdown:hover .dropdown__body{opacity:1;visibility:visible;pointer-events:all}.nav__list .dropdown:hover .item__icon{-webkit-transform:translateY(-5px) rotate(135deg);transform:translateY(-5px) rotate(135deg);position:relative}.nav__list .dropdown__body{opacity:0;visibility:hidden;pointer-events:none;position:absolute;width:170px;height:170px;top:30px;left:-10px;background:#FFFEFE;-webkit-box-shadow:4px 4px 20px #C2CCCA;box-shadow:4px 4px 20px #C2CCCA;border-radius:8px;-webkit-transition:all 0.2s;transition:all 0.2s}.nav__list .dropdown__body .dropdown__inner{padding-top:20px;position:relative;top:-20px}.nav__list .dropdown__body li{margin:20px}.phone__icon{width:70px;height:70px;background:linear-gradient(1.36deg,#B0D3CE 12.29%,#FFEDCE 83.89%);-webkit-box-shadow:-4px -4px 20px #FFFFFF,4px 4px 20px #CFD7D3;box-shadow:-4px -4px 20px #FFFFFF,4px 4px 20px #CFD7D3;border-radius:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-right:24px;cursor:pointer}.tel{font-family:"Raleway";font-weight:500;font-size:22px;line-height:26px;text-transform:uppercase;-webkit-font-feature-settings:"pnum" on,"lnum" on;font-feature-settings:"pnum" on,"lnum" on;color:#195557}.basket{position:relative}.basket .value{position:absolute;width:19px;height:19px;background:#FFEDCD;border-radius:50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;top:-5px;right:-5px;font-family:"Raleway";font-weight:700;font-size:10px;line-height:12px;-webkit-font-feature-settings:"tnum" on,"lnum" on;font-feature-settings:"tnum" on,"lnum" on;color:#000000}.header__content{margin-top:175px}.flex__column{-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.subtitle{font-family:"Cormorant Infant";font-size:50px;line-height:61px;text-transform:uppercase;color:#70908B;margin-top:19px}.content__text{font-family:"Raleway";line-height:16px;color:#70908B;margin-top:18px}.btn{width:328px;height:69px;background:#70908B;-webkit-box-shadow:4px 4px 20px #C2CCCA,-8px -8px 20px #FFFFFF;box-shadow:4px 4px 20px #C2CCCA,-8px -8px 20px #FFFFFF;border-radius:40px;margin-top:34px;font-family:"Raleway";font-weight:700;line-height:16px;color:#FFFFFF;-webkit-transition:all 0.5s;transition:all 0.5s}.btn:hover{background:linear-gradient(90.14deg,#B0D3CE -2.41%,#FFEDCE 99.79%);color:#195557}.main{z-index:1;position:relative}.section1{height:400px;margin-top:130px}.section1 .section1__inner{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.section1 .flex__row{width:850px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.section1 .hengehog1,.section1 .hengehog2{position:absolute}.section1 .hengehog1{left:-50px}.section1 .hengehog2{right:0px}.section1 .flex__row2{width:520px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.section1 .item{max-width:182px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.section1 .item__icon{width:152px;height:152px;-webkit-box-shadow:4px 4px 20px #C2CCCA,-8px -8px 20px #FFFFFF;box-shadow:4px 4px 20px #C2CCCA,-8px -8px 20px #FFFFFF;border-radius:50%;margin-bottom:30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.section1 #item__icon-1{background:#FFEDCD}.section1 #item__icon-2{background:#E2F0DF}.section1 #item__icon-3{background:#70908B;border:1px solid #94AFAB}.section1 .item__content{text-align:center}.section1 .item__title{font-family:"Cormorant Infant";font-weight:700;font-size:16px;line-height:19px;text-transform:uppercase;color:#195557;margin-bottom:10px}.section1 .item__text{font-family:"Raleway";line-height:22px;color:#195557}.section2 .container{max-width:1370px;position:relative}.section2 .hengehog-swiper{max-width:1250px;min-height:430px}.section2 .hengehog-next,.section2 .hengehog-prev{position:absolute;display:inline-block;top:47%;cursor:pointer}.section2 .hengehog-next{margin-left:auto;right:7px}.section2 .swiper-slide{top:10px;text-align:-webkit-center}.section2 .card{max-width:575px;position:relative;height:410px;text-align:left}.section2 #card1{background:url("../img/section2/card1__bg.png");background-size:cover;background-position:right}.section2 #card2{background:url("../img/section2/card2__bg.png");background-size:cover;background-position:right}.section2 .sale{position:absolute;width:68px;height:36px;background:#70908B;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-family:"Raleway";font-weight:700;font-size:20px;line-height:23px;-webkit-font-feature-settings:"pnum" on,"lnum" on;font-feature-settings:"pnum" on,"lnum" on;color:#FFFFFF;top:-10px;left:60px}.section2 .info{position:relative;top:20px;right:30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.section2 .info__card{position:absolute;opacity:0;visibility:hidden;width:180px;height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;top:45px;right:-62px;background:#195557;border:1px solid #195557;-webkit-transition:all 0.5s;transition:all 0.5s}.section2 .info__card:after{content:"";width:0;height:0;display:block;position:absolute;z-index:10;border:0;border-left:10px solid transparent;border-right:10px solid transparent;left:50%;border-bottom:10px solid #195557;top:-10px}.section2 .info:hover .info__card{opacity:1;visibility:visible}.section2 .info__content{max-width:160px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%}.section2 .info__content p{font-family:"Raleway";line-height:22px;color:#FFFFFF}.section2 .info__content .hengehog__health p{margin-left:6px}.section2 .card__inner{max-width:570px;height:inherit}.section2 .card__row{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;height:inherit;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-top:10px;padding-left:60px;padding-bottom:60px}.section2 .card__content{max-width:180px;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.section2 .card__title{font-family:"Cormorant Infant";font-weight:700;font-size:40px;line-height:48px;color:#195557}.section2 .card__text{font-family:"Raleway";font-size:14px;line-height:22px}.section2 .price__block{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.section2 .old__price{font-family:"Cormorant Infant";font-weight:700;font-size:20px;line-height:24px;-webkit-text-decoration-line:line-through;text-decoration-line:line-through;color:#C2CCCA}.section2 .new__price{font-family:"Cormorant Infant";font-weight:700;font-size:40px;line-height:48px;color:#195557}.section2 .card__add{position:absolute;bottom:0;right:0;cursor:pointer}.section3{margin-top:85px}.section3 .container{max-width:1200px}.section3 .order__forms{background:#EAEEEF;border-radius:30px;width:100%;min-height:485px}.section3 .form{max-width:1100px;margin:0px auto}.section3 .form__title{font-family:"Cormorant Infant";font-weight:700;font-size:45px;line-height:54px;color:#195557;padding:40px 0px 20px;text-align:center}.section3 .radios__form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.section3 .radio__form1{display:-webkit-box;display:-ms-flexbox;display:flex}.section3 .radio__form2{display:-webkit-box;display:-ms-flexbox;display:flex;max-height:65px;-ms-flex-wrap:wrap;flex-wrap:wrap;max-width:470px;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;-ms-flex-line-pack:end;align-content:flex-end;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.section3 .radio__form2 label:last-of-type{position:relative;left:-5.5px}.section3 .buy-purpose__btn{display:-webkit-box;display:-ms-flexbox;display:flex;width:199px;height:49px;border:2px solid #70908B;border-radius:61px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-family:"Cormorant Infant";font-weight:700;line-height:17px;color:#70908B;cursor:pointer;-webkit-transition:background-color 0.2s ease-in;transition:background-color 0.2s ease-in}.section3 .buy-purpose__btn:hover{background:#1faa95;color:#FFFFFF}.section3 .buy-purpose__btn~.buy-purpose__btn{margin-left:15px}.section3 .purpose__radio{width:1px;height:1px;position:absolute;opacity:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}.section3 .purpose__radio:checked+.buy-purpose__btn{background:#70908B;color:#FFFFFF}.section3 .radio+.radio{margin-top:15px}.section3 .radio__real{width:1px;height:1px;position:absolute;opacity:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}.section3 .radio__fake{position:relative;display:inline-block;margin-right:7px;width:14px;height:14px;background:#FFFFFF;border:1px solid #70908B;border-radius:50%;vertical-align:middle;margin-left:50px;bottom:1px}.section3 .radio__real:checked+.radio__fake:before{position:absolute;top:50%;left:50%;content:"";border-radius:50%;width:8px;height:8px;background:#70908B;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.section3 .radio__title{font-family:"Cormorant Infant";font-weight:700;line-height:17px;color:#70908B}.section3 .inputs__form{margin-top:40px}.section3 .input__row{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.section3 .input,.section3 .textarea{padding-left:30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:#F8F8F8;border-radius:8px;font-family:"Raleway";line-height:16px;color:#195557}.section3 .input{width:352px;height:62px;margin-bottom:20px}.section3 .textarea{width:100%;height:108px;padding-top:20px}.section3 .btn__inner{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;bottom:-35px}.section3 .form__btn{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.section4{padding:95px 0px 60px}.section4 .container{max-width:330px}.section4 .content{text-align:center;color:#195557}.section4 .hengehog__count{font-family:"Cormorant Infant";font-weight:700;font-size:24px;line-height:29px;margin-bottom:25px;position:relative}.section4 .hengehog__count:before{content:url("../img/section4/icon.svg");position:absolute;left:-47px}.section4 .underline{text-decoration:underline}.section4 .sub__text{font-family:"Raleway";line-height:22px;-webkit-font-feature-settings:"pnum" on,"lnum" on;font-feature-settings:"pnum" on,"lnum" on;color:#195557}.footer{background:#70908B;padding:50px 0px 30px}.footer .footer__row{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.footer .footer__content>p,.footer a{color:#FFFFFF}.footer .media{width:140px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.footer .list__item{color:#FFFFFF}.footer .description{margin-top:25px;color:#FFFFFF;font-family:"Raleway";font-size:9px;line-height:131.4%;color:#FFFFFF}@media screen and (max-width:1545px){.section1 .flex__row{width:665px}.section1 .flex__row2{width:420px}}@media screen and (max-width:1320px){.header .header__logo{left:20px;top:55px}.header .header__logo img{max-width:100px;max-height:36px}.header .header__menu{width:765px;-ms-flex-pack:distribute;justify-content:space-around}.header .nav__list{width:365px}.header .phone__icon{margin-right:10px}.header .tel{font-size:18px}.section1{height:700px}.section1 .hengehog1{display:none}.section1 .hengehog2{right:0;top:-70px}.section1 .section1__inner{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}.section1 .flex__row{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;-ms-flex-line-pack:center;align-content:center}.section1 .flex__row .flex__row2{margin-top:20px;width:475px;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.section2 .card{max-width:410px}.section2 .card__img{position:absolute;right:-120px;bottom:0}.section2 .card__row{padding-left:30px}.section2 .sale{left:33px}.section3 .radios__form{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.section3 .radio__form2{margin-top:20px}.section3 .inputs__form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.section3 .input__row{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.section3 .textarea{max-width:328px;margin-left:50px}.footer .footer__row{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.footer .footer__content{margin:50px 30px;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.footer .media{width:240px}.footer .nav__list{width:400px}}@media screen and (max-width:1020px){.section2 .card{max-width:320px}.section2 .card__img{max-width:300px}}@media screen and (max-width:871px){.header__header{padding-top:20px}.header{}.header .header__logo{left:47%;top:25px}.header .header__logo img{width:55px;height:25px}.header .burger{display:block!important;position:fixed;z-index:100;top:8px;left:25px}.header .lock{overflow:hidden}.header div#\35 {margin-top:0px}.header input#menu-toggle{display:block}.header ul.menubox{display:block}.header ul.menubox li{margin-bottom:20px}.header ul.menubox .header__logo{left:40%;top:15px}.header ul.menubox .tel{display:block;position:absolute;left:40px;bottom:40px}.header .menu-item{font-family:"Cormorant Infant";font-weight:700;font-size:18px;line-height:22px;text-transform:uppercase;color:#195557;padding-left:40px;-webkit-transition:all 0.2s;transition:all 0.2s}.header .menu-item:hover{text-decoration:underline}.header #menu-toggle{opacity:0}.header #menu-toggle :checked .menu-btn{left:25px;top:0}.header #menu-toggle:checked~.menu-btn>span{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.header #menu-toggle:checked~.menu-btn>span:before{top:0;-webkit-transform:rotate(0);transform:rotate(0)}.header #menu-toggle:checked~.menu-btn>span:after{top:0;-webkit-transform:rotate(90deg);transform:rotate(90deg)}.header #menu-toggle:checked~.menubox{visibility:visible;left:0}.header .menu-btn{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:fixed;width:26px;height:26px;cursor:pointer;z-index:1}.header .menu-btn>span,.header .menu-btn>span:after,.header .menu-btn>span:before{display:block;position:absolute;width:100%;height:2px;background-color:#195557;-webkit-transition-duration:0.25s;transition-duration:0.25s}.header .menu-btn>span:before{content:"";top:-8px}.header .menu-btn>span:after{content:"";top:8px}.header .menubox{display:block;position:fixed;visibility:hidden;top:0;left:-100%;width:301px;height:480px;background:#FFFFFF;-webkit-box-shadow:4px 4px 20px #E3E3E3;box-shadow:4px 4px 20px #E3E3E3;border-radius:0px 10px 10px 0px;padding:80px 0 0 0;-webkit-transition-duration:0.25s;transition-duration:0.25s;overflow:auto}.header .header__nav,.header .tel{display:none}.header .header__menu{width:90px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-right:20px}.header .phone__icon{width:35px;height:35px}.header .phone__icon img{width:13px;height:11px}.header .basket img{width:35px;height:35px}.header .header__content{margin-top:30px}.section2 .swiper-slide{text-align:unset}.section2 .hengehog-next,.section2 .hengehog-prev{display:none}.footer .media{width:140px}}@media screen and (max-width:768px){.header{padding-bottom:150px}.header .flex__column{text-align:center}.header:after{content:unset}.main{top:-170px}.swiper-slide{text-align:-webkit-center!important}.section3 .inputs__form,.section3 .radio__form1{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.section3 .buy-purpose__btn{margin-left:0!important;margin-top:15px}.section3 .form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.section3 .radio__form2{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;max-height:unset}.section3 .radio__fake{margin-left:0}.section3 .radio__form2 label:last-of-type{left:unset}.section3 .textarea{margin-left:0}.footer .header__menu{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:100px}.footer .footer__logo{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%;-webkit-box-align:start;-ms-flex-align:start;align-items:start}.footer .media__mob{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.footer .footer__content .media{display:none}}@media screen and (max-width:475px){.btn{width:280px;height:60px}.header .header__logo{left:41%}.header .flex__column{text-align:left;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.header .subtitle{font-style:normal;font-weight:400;font-size:24px;margin-top:unset}.header .content__text{margin-top:unset}.header img.img__title{max-width:200px}.section1 .flex__row{-ms-flex-line-pack:unset;align-content:unset}.section1 .hengehog2{max-width:210px;top:unset}.section1 .item{max-width:130px}.section1 .flex__row2{width:unset!important}.section1 .flex__row2 .item:last-of-type{margin-left:60px}.section1 .item__icon{width:92px;height:92px}.section1 .item__icon img{max-width:35px;max-height:20px}.section2 .card{max-width:240px}.section2 .card__content{max-width:140px}.section2 .card__title{font-size:35px;line-height:40px}.section2 .card__img{max-width:180px;right:-50px;bottom:80px}.section2 .info>img{display:none}.section2 .info .info__card{width:120px;height:20px;opacity:1;visibility:visible;position:relative;background:transparent;top:0;right:-25px;border:none}.section2 .info .info__card:after{content:unset}.section2 .info .info__content{width:100px}.section2 .info .info__content p{font-family:"Raleway";font-style:normal;font-weight:400;font-size:10px;line-height:159.9%;color:#195557}.section2 .info .info__content img{display:none}.section2 .info .hengehog__vacc:before{content:url("../img/section2/vacc-mob.svg");position:relative;right:5px}.section2 .info .hengehog__health:before{content:url("../img/section2/health-mob.svg");position:relative;right:-3px;bottom:-5px}.section3 .input,.section3 .textarea{width:280px;height:60px}.hengehog__count:before{left:0!important;top:-20px}.footer .footer__content{margin:50px 30px 0px}.footer .header__menu{height:unset;height:250px;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.footer .nav__list{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;height:165px}}
=======
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;500;600&display=swap");
.burger,
.media__mob {
  display: none !important;
}

.header {
  background: #EAEEEF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.header:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 990px;
  top: 20px;
  z-index: 0;
  background-image: url("/src/img/header/header__aft.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.header__logo,
.header__header,
.header__content {
  position: relative;
  z-index: 1;
}

.container {
  max-width: 1810px;
  padding: 0px 10px;
  margin: 0px auto;
}

.header__header {
  justify-content: flex-end;
  padding-top: 45px;
}

.flex {
  display: flex;
  align-items: center;
}

.header__logo {
  position: absolute;
  left: 60px;
  top: 35px;
}

.header__logo img {
  max-width: 120.54px;
  max-height: 56.07px;
}

.header__menu {
  width: 1100px;
  justify-content: space-between;
}

.nav__list {
  width: 565px;
  justify-content: space-between;
}

.nav__list li:hover {
  text-decoration: underline;
}

.nav__list .item__icon {
  height: 0px;
  width: 0px;
  border: 4px solid;
  border-color: #195557
 #195557
 transparent
 transparent;
  transform: rotate(45deg);
  margin-right: 10px;
  transition: all .5s;
}

.nav__list .list__item {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #195557;
}

.nav__list .nav__list {
  justify-content: space-between;
  width: 565px;
}

.nav__list .dropdown {
  position: relative;
}

.nav__list .dropdown:hover .dropdown__body {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.nav__list .dropdown:hover .item__icon {
  transform: translateY(-5px) rotate(135deg);
  position: relative;
}

.nav__list .dropdown__body {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  width: 170px;
  height: 170px;
  top: 30px;
  left: -10px;
  background: #FFFEFE;
  box-shadow: 4px 4px 20px #C2CCCA;
  border-radius: 8px;
  transition: all .2s;
}

.nav__list .dropdown__body .dropdown__inner {
  padding-top: 20px;
  position: relative;
  top: -20px;
}

.nav__list .dropdown__body li {
  margin: 20px;
}

.phone__icon {
  width: 70px;
  height: 70px;
  background: linear-gradient(1.36deg, #B0D3CE 12.29%, #FFEDCE 83.89%);
  box-shadow: -4px -4px 20px #FFFFFF, 4px 4px 20px #CFD7D3;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  cursor: pointer;
}

.tel {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #195557;
}

.basket {
  position: relative;
}

.basket .value {
  position: absolute;
  width: 19px;
  height: 19px;
  background: #FFEDCD;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: -5px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #000000;
}

.header__content {
  margin-top: 175px;
}

.flex__column {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-family: 'Cormorant Infant';
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #70908B;
  margin-top: 19px;
}

.content__text {
  font-family: 'Raleway';
  line-height: 16px;
  color: #70908B;
  margin-top: 18px;
}

.btn {
  width: 328px;
  height: 69px;
  background: #70908B;
  box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  border-radius: 40px;
  margin-top: 34px;
  font-family: 'Raleway';
  font-weight: 700;
  line-height: 16px;
  color: #FFFFFF;
  transition: all .5s;
}

.btn:hover {
  background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
  color: #195557;
}

.main {
  z-index: 1;
  position: relative;
}

.section1 {
  height: 400px;
  margin-top: 130px;
}

.section1 .section1__inner {
  justify-content: center;
}

.section1 .flex__row {
  width: 850px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

.section1 .hengehog2,
.section1 .hengehog1 {
  position: absolute;
}

.section1 .hengehog1 {
  left: -50px;
}

.section1 .hengehog2 {
  right: 0px;
}

.section1 .flex__row2 {
  width: 520px;
  justify-content: space-between;
  align-items: flex-end;
}

.section1 .item {
  max-width: 182px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1 .item__icon {
  width: 152px;
  height: 152px;
  box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 #item__icon-1 {
  background: #FFEDCD;
}

.section1 #item__icon-2 {
  background: #E2F0DF;
}

.section1 #item__icon-3 {
  background: #70908B;
  border: 1px solid #94AFAB;
}

.section1 .item__content {
  text-align: center;
}

.section1 .item__title {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #195557;
  margin-bottom: 10px;
}

.section1 .item__text {
  font-family: 'Raleway';
  line-height: 22px;
  color: #195557;
}

.section2 .container {
  max-width: 1370px;
  position: relative;
}

.section2 .hengehog-swiper {
  max-width: 1250px;
  min-height: 430px;
}

.section2 .hengehog-next,
.section2 .hengehog-prev {
  position: absolute;
  display: inline-block;
  top: 47%;
  cursor: pointer;
}

.section2 .hengehog-next {
  margin-left: auto;
  right: 7px;
}

.section2 .swiper-slide {
  top: 10px;
  text-align: -webkit-center;
}

.section2 .card {
  max-width: 575px;
  position: relative;
  height: 410px;
  text-align: left;
}

.section2 #card1 {
  background: url("/src/img/section2/card1__bg.png");
  background-size: cover;
  background-position: right;
}

.section2 #card2 {
  background: url("/src/img/section2/card2__bg.png");
  background-size: cover;
  background-position: right;
}

.section2 .sale {
  position: absolute;
  width: 68px;
  height: 36px;
  background: #70908B;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  top: -10px;
  left: 60px;
}

.section2 .info {
  position: relative;
  top: 20px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
}

.section2 .info__card {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  top: 45px;
  right: -62px;
  background: #195557;
  border: 1px solid #195557;
  transition: all .5s;
}

.section2 .info__card::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 50%;
  border-bottom: 10px solid #195557;
  top: -10px;
}

.section2 .info:hover .info__card {
  opacity: 1;
  visibility: visible;
}

.section2 .info__content {
  max-width: 160px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.section2 .info__content p {
  font-family: 'Raleway';
  line-height: 22px;
  color: #FFFFFF;
}

.section2 .info__content .hengehog__health p {
  margin-left: 6px;
}

.section2 .card__inner {
  max-width: 570px;
  height: inherit;
}

.section2 .card__row {
  align-items: flex-end;
  height: inherit;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.section2 .card__content {
  max-width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section2 .card__title {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #195557;
}

.section2 .card__text {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 22px;
}

.section2 .price__block {
  display: flex;
  flex-direction: column;
}

.section2 .old__price {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: line-through;
  color: #C2CCCA;
}

.section2 .new__price {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #195557;
}

.section2 .card__add {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.section3 {
  margin-top: 85px;
}

.section3 .container {
  max-width: 1200px;
}

.section3 .order__forms {
  background: #EAEEEF;
  border-radius: 30px;
  width: 100%;
  min-height: 485px;
}

.section3 .form {
  max-width: 1100px;
  margin: 0px auto;
}

.section3 .form__title {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #195557;
  padding: 40px 0px 20px;
  text-align: center;
}

.section3 .radios__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section3 .radio__form1 {
  display: flex;
}

.section3 .radio__form2 {
  display: flex;
  max-height: 65px;
  flex-wrap: wrap;
  max-width: 470px;
  align-items: baseline;
  align-content: flex-end;
  flex-direction: row;
}

.section3 .radio__form2 label:last-of-type {
  position: relative;
  left: -5.5px;
}

.section3 .buy-purpose__btn {
  display: flex;
  width: 199px;
  height: 49px;
  border: 2px solid #70908B;
  border-radius: 61px;
  align-items: center;
  justify-content: center;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  line-height: 17px;
  color: #70908B;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.section3 .buy-purpose__btn:hover {
  background: #1faa95;
  color: #FFFFFF;
}

.section3 .buy-purpose__btn ~ .buy-purpose__btn {
  margin-left: 15px;
}

.section3 .purpose__radio {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.section3 .purpose__radio:checked + .buy-purpose__btn {
  background: #70908B;
  color: #FFFFFF;
}

.section3 .radio + .radio {
  margin-top: 15px;
}

.section3 .radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.section3 .radio__fake {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border: 1px solid #70908B;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 50px;
  bottom: 1px;
}

.section3 .radio__real:checked + .radio__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #70908B;
  transform: translate(-50%, -50%);
}

.section3 .radio__title {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  line-height: 17px;
  color: #70908B;
}

.section3 .inputs__form {
  margin-top: 40px;
}

.section3 .input__row {
  justify-content: space-between;
}

.section3 .input,
.section3 .textarea {
  padding-left: 30px;
  display: flex;
  align-items: center;
  background: #F8F8F8;
  border-radius: 8px;
  font-family: 'Raleway';
  line-height: 16px;
  color: #195557;
}

.section3 .input {
  width: 352px;
  height: 62px;
  margin-bottom: 20px;
}

.section3 .textarea {
  width: 100%;
  height: 108px;
  padding-top: 20px;
}

.section3 .btn__inner {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: -35px;
}

.section3 .form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 {
  padding: 95px 0px 60px;
}

.section4 .container {
  max-width: 330px;
}

.section4 .content {
  text-align: center;
  color: #195557;
}

.section4 .hengehog__count {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
  position: relative;
}

.section4 .hengehog__count::before {
  content: url("/src/img/section4/icon.svg");
  position: absolute;
  left: -47px;
}

.section4 .underline {
  text-decoration: underline;
}

.section4 .sub__text {
  font-family: 'Raleway';
  line-height: 22px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #195557;
}

.footer {
  background: #70908B;
  padding: 50px 0px 30px;
}

.footer .footer__row {
  justify-content: space-between;
}

.footer .footer__content > p, .footer a {
  color: #FFFFFF;
}

.footer .media {
  width: 140px;
  justify-content: space-between;
}

.footer .list__item {
  color: #FFFFFF;
}

.footer .description {
  margin-top: 25px;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-size: 9px;
  line-height: 131.4%;
  color: #FFFFFF;
}

@media screen and (max-width: 1545px) {
  .section1 .flex__row {
    width: 665px;
  }
  .section1 .flex__row2 {
    width: 420px;
  }
}

@media screen and (max-width: 1320px) {
  .header .header__logo {
    left: 20px;
    top: 55px;
  }
  .header .header__logo img {
    max-width: 100px;
    max-height: 36px;
  }
  .header .header__menu {
    width: 765px;
    justify-content: space-around;
  }
  .header .nav__list {
    width: 365px;
  }
  .header .phone__icon {
    margin-right: 10px;
  }
  .header .tel {
    font-size: 18px;
  }
  .section1 {
    height: 700px;
  }
  .section1 .hengehog1 {
    display: none;
  }
  .section1 .hengehog2 {
    right: 0;
    top: -70px;
  }
  .section1 .section1__inner {
    align-items: baseline;
  }
  .section1 .flex__row {
    flex-direction: column;
    align-items: baseline;
    align-content: center;
  }
  .section1 .flex__row .flex__row2 {
    margin-top: 20px;
    width: 475px;
    align-items: flex-start;
  }
  .section2 .card {
    max-width: 410px;
  }
  .section2 .card__img {
    position: absolute;
    right: -120px;
    bottom: 0;
  }
  .section2 .card__row {
    padding-left: 30px;
  }
  .section2 .sale {
    left: 33px;
  }
  .section3 .radios__form {
    flex-direction: column;
    align-items: center;
  }
  .section3 .radio__form2 {
    margin-top: 20px;
  }
  .section3 .inputs__form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section3 .input__row {
    flex-direction: column;
  }
  .section3 .textarea {
    max-width: 328px;
    margin-left: 50px;
  }
  .footer .footer__row {
    flex-direction: column;
  }
  .footer .footer__content {
    margin: 50px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer .media {
    width: 240px;
  }
  .footer .nav__list {
    width: 400px;
  }
}

@media screen and (max-width: 1020px) {
  .section2 .card {
    max-width: 320px;
  }
  .section2 .card__img {
    max-width: 300px;
  }
}

@media screen and (max-width: 871px) {
  .header__header {
    padding-top: 20px;
  }
  .header {
    /*  бургер меню */
    /*  */
  }
  .header .header__logo {
    left: 47%;
    top: 25px;
  }
  .header .header__logo img {
    width: 55px;
    height: 25px;
  }
  .header .burger {
    display: block !important;
    position: fixed;
    z-index: 100;
    top: 8px;
    left: 25px;
  }
  .header .lock {
    overflow: hidden;
  }
  .header div#\35 {
    margin-top: 0px;
  }
  .header input#menu-toggle {
    display: block;
  }
  .header ul.menubox {
    display: block;
  }
  .header ul.menubox li {
    margin-bottom: 20px;
  }
  .header ul.menubox .header__logo {
    left: 40%;
    top: 15px;
  }
  .header ul.menubox .tel {
    display: block;
    position: absolute;
    left: 40px;
    bottom: 40px;
  }
  .header .menu-item {
    font-family: 'Cormorant Infant';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #195557;
    padding-left: 40px;
    transition: all .2s;
  }
  .header .menu-item:hover {
    text-decoration: underline;
  }
  .header #menu-toggle {
    opacity: 0;
  }
  .header #menu-toggle :checked .menu-btn {
    left: 25px;
    top: 0;
  }
  .header #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  .header #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .header #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header #menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 0;
  }
  .header .menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .header .menu-btn > span,
  .header .menu-btn > span::before,
  .header .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #195557;
    transition-duration: .25s;
  }
  .header .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .header .menu-btn > span::after {
    content: '';
    top: 8px;
  }
  .header .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 301px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px #E3E3E3;
    border-radius: 0px 10px 10px 0px;
    padding: 80px 0 0 0;
    transition-duration: .25s;
    overflow: auto;
  }
  .header .header__nav,
  .header .tel {
    display: none;
  }
  .header .header__menu {
    width: 90px;
    justify-content: space-between;
    margin-right: 20px;
  }
  .header .phone__icon {
    width: 35px;
    height: 35px;
  }
  .header .phone__icon img {
    width: 13px;
    height: 11px;
  }
  .header .basket img {
    width: 35px;
    height: 35px;
  }
  .header .header__content {
    margin-top: 30px;
  }
  .section2 .swiper-slide {
    text-align: unset;
  }
  .section2 .hengehog-next,
  .section2 .hengehog-prev {
    display: none;
  }
  .footer .media {
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 150px;
  }
  .header .flex__column {
    text-align: center;
  }
  .header::after {
    content: unset;
  }
  .main {
    top: -170px;
  }
  .swiper-slide {
    text-align: -webkit-center !important;
  }
  .section3 .radio__form1,
  .section3 .inputs__form {
    flex-direction: column;
  }
  .section3 .buy-purpose__btn {
    margin-left: 0 !important;
    margin-top: 15px;
  }
  .section3 .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section3 .radio__form2 {
    flex-direction: column;
    max-height: unset;
  }
  .section3 .radio__fake {
    margin-left: 0;
  }
  .section3 .radio__form2 label:last-of-type {
    left: unset;
  }
  .section3 .textarea {
    margin-left: 0;
  }
  .footer .header__menu {
    flex-direction: column;
    height: 100px;
  }
  .footer .footer__logo {
    justify-content: space-between;
    width: 100%;
    align-items: start;
  }
  .footer .media__mob {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
  }
  .footer .footer__content .media {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .btn {
    width: 280px;
    height: 60px;
  }
  .header .header__logo {
    left: 41%;
  }
  .header .flex__column {
    text-align: left;
    align-items: flex-start;
  }
  .header .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: unset;
  }
  .header .content__text {
    margin-top: unset;
  }
  .header img.img__title {
    max-width: 200px;
  }
  .section1 .flex__row {
    align-content: unset;
  }
  .section1 .hengehog2 {
    max-width: 210px;
    top: unset;
  }
  .section1 .item {
    max-width: 130px;
  }
  .section1 .flex__row2 {
    width: unset !important;
  }
  .section1 .flex__row2 .item:last-of-type {
    margin-left: 60px;
  }
  .section1 .item__icon {
    width: 92px;
    height: 92px;
  }
  .section1 .item__icon img {
    max-width: 35px;
    max-height: 20px;
  }
  .section2 .card {
    max-width: 240px;
  }
  .section2 .card__content {
    max-width: 140px;
  }
  .section2 .card__title {
    font-size: 35px;
    line-height: 40px;
  }
  .section2 .card__img {
    max-width: 180px;
    right: -50px;
    bottom: 80px;
  }
  .section2 .info > img {
    display: none;
  }
  .section2 .info .info__card {
    width: 120px;
    height: 20px;
    opacity: 1;
    visibility: visible;
    position: relative;
    background: transparent;
    top: 0;
    right: -25px;
    border: none;
  }
  .section2 .info .info__card::after {
    content: unset;
  }
  .section2 .info .info__content {
    width: 100px;
  }
  .section2 .info .info__content p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 159.9%;
    color: #195557;
  }
  .section2 .info .info__content img {
    display: none;
  }
  .section2 .info .hengehog__vacc::before {
    content: url("/src/img/section2/vacc-mob.svg");
    position: relative;
    right: 5px;
  }
  .section2 .info .hengehog__health::before {
    content: url("/src/img/section2/health-mob.svg");
    position: relative;
    right: -3px;
    bottom: -5px;
  }
  .section3 .input,
  .section3 .textarea {
    width: 280px;
    height: 60px;
  }
  .hengehog__count::before {
    left: 0 !important;
    top: -20px;
  }
  .footer .footer__content {
    margin: 50px 30px 0px;
  }
  .footer .header__menu {
    height: unset;
    height: 250px;
    align-items: flex-start;
  }
  .footer .nav__list {
    flex-direction: column;
    align-items: flex-start;
    height: 165px;
  }
}
>>>>>>> 7ab4738d443c503a8c129d76c03fa3002ab5db35
